main {
    margin: 0;
    padding: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9c8ee;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
}

.logo img {
    height: 40px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin-top: 20px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-btn, .next-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 550px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
p{
    padding: 10px;
}
